azure_synapse/AdventureWorksLT2022/workspace/pipeline/01_pl_initial_load.json
{
	"name": "01_pl_initial_load",
	"properties": {
		"activities": [
			{
				"name": "Execute workflow ProductCategory",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Delete silver files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "01_pl_workflow_ProductCategory",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Container": {
							"value": "@variables('container')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Execute workflow Product",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Delete silver files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "02_pl_workflow_Product",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Container": {
							"value": "@variables('container')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Execute workflow Customer",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Delete silver files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "03_pl_workflow_Customer",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Container": {
							"value": "@variables('container')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Execute workflow SalesOrderHeader",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Delete silver files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "04_pl_workflow_SalesOrderHeader",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Container": {
							"value": "@variables('container')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Execute workflow SalesOrderDetail",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Delete silver files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "05_pl_workflow_SalesOrderDetail",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Container": {
							"value": "@variables('container')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Delete bronze files",
				"type": "Delete",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "All_Files",
						"type": "DatasetReference",
						"parameters": {
							"Container": {
								"value": "@variables('container')",
								"type": "Expression"
							},
							"Layer": "bronze"
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Delete silver files",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Delete bronze files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "All_Files",
						"type": "DatasetReference",
						"parameters": {
							"Container": {
								"value": "@variables('container')",
								"type": "Expression"
							},
							"Layer": "silver"
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"variables": {
			"container": {
				"type": "String",
				"defaultValue": "adventureworkslt2022"
			}
		},
		"folder": {
			"name": "AdventureWorksLT2022"
		},
		"annotations": [],
		"lastPublishTime": "2025-10-24T02:18:13Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}