azure_synapse/DAJobCanada/workspace/pipeline/01_pl_dajobcanada_initial_load.json
{
	"name": "01_pl_dajobcanada_initial_load",
	"properties": {
		"activities": [
			{
				"name": "Bronze layer",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Load job_roles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "01_notebook_dajobcanada_bronze_layer",
						"type": "NotebookReference"
					},
					"parameters": {
						"in_parameter_run_id": {
							"value": {
								"value": "@variables('id_run')",
								"type": "Expression"
							},
							"type": "int"
						},
						"in_parameter_process_date": {
							"value": {
								"value": "@variables('process_date')",
								"type": "Expression"
							},
							"type": "string"
						},
						"in_parameter_path_storage": {
							"value": {
								"value": "@variables('storage')",
								"type": "Expression"
							},
							"type": "string"
						},
						"in_parameter_path_container": {
							"value": {
								"value": "@variables('container')",
								"type": "Expression"
							},
							"type": "string"
						},
						"out_parameter_count_processed": {
							"value": "",
							"type": "int"
						}
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": "sparkpool",
						"type": "BigDataPoolReference"
					},
					"executorSize": "Small",
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"driverSize": "Small",
					"numExecutors": null
				}
			},
			{
				"name": "Silver layer",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Update bronze control process",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "02_notebook_dajobcanada_silver_layer",
						"type": "NotebookReference"
					},
					"parameters": {
						"in_parameter_run_id": {
							"value": {
								"value": "@variables('id_run')",
								"type": "Expression"
							},
							"type": "int"
						},
						"in_parameter_process_date": {
							"value": {
								"value": "@variables('process_date')",
								"type": "Expression"
							},
							"type": "string"
						},
						"in_parameter_path_storage": {
							"value": {
								"value": "@variables('storage')",
								"type": "Expression"
							},
							"type": "string"
						},
						"in_parameter_path_container": {
							"value": {
								"value": "@variables('container')",
								"type": "Expression"
							},
							"type": "string"
						},
						"out_parameter_count_processed": {
							"value": "",
							"type": "int"
						}
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": "sparkpool",
						"type": "BigDataPoolReference"
					},
					"executorSize": "Small",
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"driverSize": "Small",
					"numExecutors": null
				}
			},
			{
				"name": "Start process",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "dajobcanada_db.usp_start_process",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dajobcanada_control",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set id_run",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Start process",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "id_run",
					"value": {
						"value": "@activity('Start process').output.firstRow['id_run']",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set process_date",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Start process",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "process_date",
					"value": {
						"value": "@activity('Start process').output.firstRow['process_date']",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set bronze count_processed",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Bronze layer",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "count_processed_bronze",
					"value": {
						"value": "@int(activity('Bronze layer').output.status.Output.result.exitValue)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Update bronze control process",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set bronze count_processed",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "dajobcanada_db.usp_update_process",
					"storedProcedureParameters": {
						"id": {
							"value": {
								"value": "@variables('id_run')",
								"type": "Expression"
							},
							"type": "Int16"
						},
						"status_number": {
							"value": "1",
							"type": "Int16"
						},
						"count_processed": {
							"value": {
								"value": "@variables('count_processed_bronze')",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SqlServer_Azure",
					"type": "LinkedServiceReference",
					"parameters": {
						"DB": "control_db"
					}
				}
			},
			{
				"name": "Update silver control process",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set silver count_processed",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "dajobcanada_db.usp_update_process",
					"storedProcedureParameters": {
						"id": {
							"value": {
								"value": "@variables('id_run')",
								"type": "Expression"
							},
							"type": "Int16"
						},
						"status_number": {
							"value": "2",
							"type": "Int16"
						},
						"count_processed": {
							"value": {
								"value": "@variables('count_processed_silver')",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SqlServer_Azure",
					"type": "LinkedServiceReference",
					"parameters": {
						"DB": "control_db"
					}
				}
			},
			{
				"name": "Set silver count_processed",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Silver layer",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "count_processed_silver",
					"value": {
						"value": "@int(activity('Silver layer').output.status.Output.result.exitValue)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Update final control process",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Load dedicated fact jobs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "dajobcanada_db.usp_update_process",
					"storedProcedureParameters": {
						"id": {
							"value": {
								"value": "@variables('id_run')",
								"type": "Expression"
							},
							"type": "Int16"
						},
						"status_number": {
							"value": "3",
							"type": "Int16"
						},
						"count_processed": {
							"value": {
								"value": "0",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SqlServer_Azure",
					"type": "LinkedServiceReference",
					"parameters": {
						"DB": "control_db"
					}
				}
			},
			{
				"name": "Load validation_definition",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set id_run",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set process_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "dajobcanada_db.usp_get_validations",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "column_name",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "column_name",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "column_type",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "column_type",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "column_size",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "column_size",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "column_scale",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "column_scale",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "default_value",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "default_value",
									"type": "String",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "dajobcanada_control",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "dajobcanada_control_db_table_file",
						"type": "DatasetReference",
						"parameters": {
							"in_parameter_run_id": {
								"value": "@variables('id_run')",
								"type": "Expression"
							},
							"in_table_name": "validation_definition"
						}
					}
				]
			},
			{
				"name": "Load job_roles",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Load validation_definition",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "dajobcanada_db.usp_get_job_roles",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "level",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "level",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "role",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "role",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "job_salary_min_base",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 15
								},
								"sink": {
									"name": "job_salary_min_base",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "job_salary_max_base",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 15
								},
								"sink": {
									"name": "job_salary_max_base",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "dajobcanada_control",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "dajobcanada_control_db_table_file",
						"type": "DatasetReference",
						"parameters": {
							"in_parameter_run_id": {
								"value": "@variables('id_run')",
								"type": "Expression"
							},
							"in_table_name": "job_roles"
						}
					}
				]
			},
			{
				"name": "Load log control_db",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Update silver control process",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "*.parquet",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SqlServerSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "dajobcanada_log_validation_file",
						"type": "DatasetReference",
						"parameters": {
							"in_parameter_run_id": {
								"value": "@string(variables('id_run'))",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "dajobcanada_log_validation",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Clean dedicated staging table jobs",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Load log control_db",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "DAJOBCANADA_DB.usp_clean_staging_tables"
				},
				"linkedServiceName": {
					"referenceName": "SqlServer_Dedicated_Pool",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Load dedicated staging table jobs",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Clean dedicated staging table jobs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "*.parquet",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SqlPoolSink",
						"allowCopyCommand": true
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "job_id",
									"type": "String"
								},
								"sink": {
									"name": "job_id",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "job_title",
									"type": "String"
								},
								"sink": {
									"name": "job_title",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "company_name",
									"type": "String"
								},
								"sink": {
									"name": "company_name",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "language_tools",
									"type": "String"
								},
								"sink": {
									"name": "language_tools",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "city",
									"type": "String"
								},
								"sink": {
									"name": "city",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "province",
									"type": "String"
								},
								"sink": {
									"name": "province",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "job_link",
									"type": "String"
								},
								"sink": {
									"name": "job_link",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "level",
									"type": "String"
								},
								"sink": {
									"name": "level",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "role",
									"type": "String"
								},
								"sink": {
									"name": "role",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "job_salary_min",
									"type": "Decimal"
								},
								"sink": {
									"name": "job_salary_min",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "job_salary_max",
									"type": "Decimal"
								},
								"sink": {
									"name": "job_salary_max",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "job_salary_type",
									"type": "String"
								},
								"sink": {
									"name": "job_salary_type",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "run_id",
									"type": "Int32"
								},
								"sink": {
									"name": "run_id",
									"type": "Int16"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "dajobcanada_jobs_file",
						"type": "DatasetReference",
						"parameters": {
							"in_parameter_process_date": {
								"value": "@substring(variables('process_date'), 0, 10)",
								"type": "Expression"
							},
							"in_parameter_path": "silver/jobs"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "dajobcanada_jobs_staging_table",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Load dedicated fact jobs",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Load dedicated staging table jobs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "DAJOBCANADA_DB.usp_load_Fact_Jobs",
					"storedProcedureParameters": {
						"run_id": {
							"value": {
								"value": "@variables('id_run')",
								"type": "Expression"
							},
							"type": "Int16"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SqlServer_Dedicated_Pool",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"id_run": {
				"type": "Integer"
			},
			"process_date": {
				"type": "String"
			},
			"count_processed_bronze": {
				"type": "Integer"
			},
			"storage": {
				"type": "String",
				"defaultValue": "datalake20251021"
			},
			"container": {
				"type": "String",
				"defaultValue": "dajobcanada"
			},
			"count_processed_silver": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "DAJobCanada"
		},
		"annotations": []
	}
}