azure_synapse/brazilian_e_commerce/workspace/pipeline/01_pl_olist_initial_load.json
{
	"name": "01_pl_olist_initial_load",
	"properties": {
		"activities": [
			{
				"name": "Execute workflow orders",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Delete silver files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "01_pl_olist_workflow_orders",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Container": {
							"value": "@variables('Container')",
							"type": "Expression"
						},
						"BD": {
							"value": "@variables('BD')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Execute workflow order_items",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Delete silver files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "02_pl_olist_workflow_order_items",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Container": {
							"value": "@variables('Container')",
							"type": "Expression"
						},
						"BD": {
							"value": "@variables('BD')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Execute workflow order payments",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Delete silver files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "03_pl_olist_workflow_order_payments",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Container": {
							"value": "@variables('Container')",
							"type": "Expression"
						},
						"BD": {
							"value": "@variables('BD')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Execute workflow order reviews",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Delete silver files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "04_pl_olist_workflow_order_reviews",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Container": {
							"value": "@variables('Container')",
							"type": "Expression"
						},
						"BD": {
							"value": "@variables('BD')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Execute workflow customers",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Delete silver files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "05_pl_olist_workflow_customers",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Container": {
							"value": "@variables('Container')",
							"type": "Expression"
						},
						"BD": {
							"value": "@variables('BD')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Execute workflow products",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Delete silver files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "06_pl_olist_workflow_products",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Container": {
							"value": "@variables('Container')",
							"type": "Expression"
						},
						"BD": {
							"value": "@variables('BD')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Execute workflow sellers",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Delete silver files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "07_pl_olist_workflow_sellers",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"BD": "Olist_DB"
					}
				}
			},
			{
				"name": "Delete silver files",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Clean dedicated staging tables",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "If clean dedicated production tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "olist_All_Files",
						"type": "DatasetReference",
						"parameters": {
							"Container": {
								"value": "@variables('Container')",
								"type": "Expression"
							},
							"Layer": "silver"
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Get bronze files",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Load dedicated Fact_Orders",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "olist_All_Files",
						"type": "DatasetReference",
						"parameters": {
							"Container": {
								"value": "@variables('Container')",
								"type": "Expression"
							},
							"Layer": "bronze"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Move files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get bronze files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get bronze files').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Move bronze file",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "olist_All_Single_File",
									"type": "DatasetReference",
									"parameters": {
										"Container": {
											"value": "@variables('Container')",
											"type": "Expression"
										},
										"Layer": "bronze",
										"File": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "olist_All_Single_File",
									"type": "DatasetReference",
									"parameters": {
										"Container": {
											"value": "@variables('Container')",
											"type": "Expression"
										},
										"Layer": "archive",
										"File": {
											"value": "@concat(formatDateTime(utcNow(), 'yyyyMMdd_HHmmss'), '_', item().name)",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Delete bronze files",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Move files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "olist_All_Files",
						"type": "DatasetReference",
						"parameters": {
							"Container": {
								"value": "@variables('Container')",
								"type": "Expression"
							},
							"Layer": "bronze"
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Load dedicated Dim_Date",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Execute workflow orders",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Execute workflow order_items",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Execute workflow order payments",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Execute workflow order reviews",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[OLIST_DB].[usp_load_Dim_Date]"
				},
				"linkedServiceName": {
					"referenceName": "SqlServer_Dedicated_Pool",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Load dedicated Fact_Orders",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Load dedicated Dim_Date",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Load dedicated Dim_Customers",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Load dedicated Dim_Products",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Load dedicated Dim_Sellers",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "OLIST_DB.usp_load_Fact_Orders"
				},
				"linkedServiceName": {
					"referenceName": "SqlServer_Dedicated_Pool",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Load dedicated Dim_Customers",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Execute workflow customers",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "OLIST_DB.usp_load_Dim_Customers"
				},
				"linkedServiceName": {
					"referenceName": "SqlServer_Dedicated_Pool",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Load dedicated Dim_Products",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Execute workflow products",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "OLIST_DB.usp_load_Dim_Products"
				},
				"linkedServiceName": {
					"referenceName": "SqlServer_Dedicated_Pool",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Load dedicated Dim_Sellers",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Execute workflow sellers",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "OLIST_DB.usp_load_Dim_Sellers"
				},
				"linkedServiceName": {
					"referenceName": "SqlServer_Dedicated_Pool",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Clean dedicated staging tables",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "OLIST_DB.usp_clean_staging_tables"
				},
				"linkedServiceName": {
					"referenceName": "SqlServer_Dedicated_Pool",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "If clean dedicated production tables",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Clean dedicated staging tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(pipeline().parameters.initial, true)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Clean dedicated production tables",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "OLIST_DB.usp_clean_production_tables"
							},
							"linkedServiceName": {
								"referenceName": "SqlServer_Dedicated_Pool",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"initial": {
				"type": "bool"
			}
		},
		"variables": {
			"BD": {
				"type": "String",
				"defaultValue": "Olist_DB"
			},
			"Container": {
				"type": "String",
				"defaultValue": "olist"
			}
		},
		"folder": {
			"name": "Olist"
		},
		"annotations": [],
		"lastPublishTime": "2025-11-02T16:52:21Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}